body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.escudo{
   width: 15px;
   height: 15px;
   border-radius: 25px 25px 25px 25px;
   -moz-border-radius: 25px 25px 25px 25px;
   -webkit-border-radius: 25px 25px 25px 25px;
   border: 0px solid #000000;
}

.firmaMadre{
   width: 55%;
   height: 55%;

}


.welcome {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.promedio{
  float : right;

}
.cuadroDescriptivo {
  float : right;
  font: 140% sans-serif;


}

.cuadroDescriptivo table td, th{
  border: 1px solid #999;
  padding: 0.3rem;
}

.firmas {
    margin-top: 5rem;
}

.styleletterPrimary {
  font: 110% sans-serif;

}

.styleletterPrimaryBold {
  font: 110% sans-serif;
  font-weight: bold;
}

.styleletterSecond {
  font: 100% sans-serif;

}

.firmaDirectora {
  float: left;
}


.firmaRectora {
  float: right;
  margin-right: 25rem;
}
